/* Position the image container (needed to position the left and right arrows) */

#conteudo {

    width: 100%;
    display: flex;

    justify-content: center;
}
  
.container {
    width: 90%;
  
    margin-top: 2%;
}
    
    
.mySlides {
  
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  
    margin-top: 2%;
  
    width: 60%;
  
    box-sizing: border-box;
  
    color:rgb(231, 223, 221);
      
  
    text-align: center;
}
  
.mySlides p a {
    color: rgb(231, 223, 221);
}
  
.mySlides img {
    max-width: 30vw;
}
  
.mySlides div {
    /* color: white;
    width: 80%;
    */
    align-self: center; 
    /* text-align: left; */
  
    box-sizing: border-box;
}
  
#ulcaixa {
    display: flex;
    justify-content: center;
    width: 100%;
    /* margin: 0 0 0 0; */
    padding-left: 0;
  
}
  
.titulo {
    font-size: calc(10px + (40 - 4) * ((100vw - 380px) / (1920 - 380)));
    text-align: center;
}
  
.sub-titulo {
    font-size: calc(10px + (20 - 4) * ((100vw - 380px) / (1920 - 380)));
    font-weight: bold;
    text-align: left;
}
  
.texto {
    font-size: calc(10px + (12 - 4) * ((100vw - 380px) / (1920 - 380)));
    text-align: left;
}
  
.cursor {
    cursor: pointer;
}
    
  
.prev,
.next {
    cursor: pointer;
    /* position: absolute; */
    /* top: 40%; */
    width: auto;
    /* height: 50%; */
    padding: 0.5% 1% 0.5% 1%;
    /* margin-top: -50px; */
    color: white;
    font-weight: bold;
    font-size: 1em;
    /* border-radius: 0 3px 3px 0; */
    user-select: none;
    -webkit-user-select: none;
}
    
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
    
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}
    
    
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}
    
  
    
.row:after {
    content: "";
    display: table;
    clear: both;
}
    
    
  
#row {
    display: flex;
    flex-direction: row;
    justify-content: center;
  
    align-content: center;
  
}
  
#row div {
      
    align-self: center;
  
}
    
.column {
    float: left;
    width: 15%;
  
    text-align: center;
}
  
#caixinha {
    color: white;
    font-size: calc(10px + (30 - 4) * ((100vw - 380px) / (1920 - 380)))
}
    
   
.demo {
    opacity: 0.6;
}
    
.active,
.demo:hover {
    opacity: 1;
    background-color: rgb(231, 223, 221);
  
    color: rgb(14, 8, 22) !important;
}

#back2top {
    display: none;
  }
  
  @media(max-width: 768px) {
  
    .mySlides {
      width: 90%;
    }
  
    /* #caixinha {
      width: 150%;
    } */
  
    .column {
      width: 30%;
    }
  
    #back2Top {
      width: 40px;
      line-height: 40px;
      overflow: hidden;
      display: none;
      cursor: pointer;
      -moz-transform: rotate(270deg);
      -webkit-transform: rotate(270deg);
      -o-transform: rotate(270deg);
      -ms-transform: rotate(270deg);
      transform: rotate(270deg);
      position: fixed;
      bottom: 80px;
      right: 10px;
      background-color: #DDD;
      color: #555;
      text-align: center;
      font-size: 30px;
      text-decoration: none;
    }
    
    #back2Top:hover {
      background-color: #DDF;
      color: #000;
    }
  
  }